@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    min-height: 100%;
}

body {
    font-family: 'Open Sans', cursive;
    background-image: linear-gradient(-225deg, rgb(67, 27, 122) 0%, rgb(26, 15, 87) 52%, rgb(101, 34, 120) 100%);
    min-height: 100%;
}

h1, h2 {
    color: white;
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}